ul {
  list-style-type:none;
}

h1 {
  text-align: center;
  font-family:"Roboto", sans-serif;
  font-size:3em;
}

body {
  background-color: #CCCCCC;
}

.accordion>ul {
  display:table;
  width:100%;
  table-layout: fixed;
  margin:0;
  padding:0;
}

.accordion>ul>li {
  position:relative;
  display:table-cell;
  padding-right:1.2em;
  width:15%;
  transition: all 500ms ease;
}

.accordion{
  display:block;
  width:800px;
  height:250px;
  overflow:hidden;
  margin:50px auto;
}

.accordion-content li:hover {
  width:60%;
}

.accordion-content a{
  display: block;
  width:100%;
  position:relative;
  transition: all 200ms ease;
}

.accordion ul:hover li{
  width:8%;
}
.accordion ul:hover li:hover {
  width:60%;
}

.accordion-content img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.accordion-content a:hover img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}
