* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Open Sans";
}

#wrapper{
	background-color: #f2f2f2;
	height: 100%;
	margin-right: -20px;
	margin-left: -20px;
	overflow: hidden;
}


#nav-bar{
	padding:5px;
	background: none;
	border: none;
}

#nav-bar li{
	padding-left: 30px;
	padding-right: 30px;
}

#name{
	font-size:17px;
	letter-spacing: 3px;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
}
#name img{
	float: left;
}

#name p{
	padding-top:5px;
	padding-left: 5px;
	float: left;
}

#title{
	line-height: 0px;
	font-size: 8px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-left:60px;
}

#logo{
	color:#000;
}

#nav-items a {
	padding-top:2em;
	color:#000;
	font-weight: bold;
}
#nav-items a:hover{
	color:#ff0000;
}

#filler{
	margin-left: -20px;
	margin-right: -20px;
	background: -webkit-linear-gradient(left,#333,#ff0000,#333);
	background: -moz-linear-gradient(left,#333,#ff0000,#333);
	background: -o-linear-gradient(left,#333,#ff0000,#333);
	background: linear-gradient(left,#333,#ff0000,#333);
	height: 5em;
}

/* Content */


#wrapper{
	padding-bottom: 5em;
}

#wrapper h1{
	text-align: center;
}

#wrapper h3{
	padding-bottom: 1em;
	color: #c3c3c3;
	font-size: 1.5em;
	padding-left:3em;
	margin-top:0;
}

#wrapper h4{
	padding-bottom: 1em;
}

.link-ref{
	margin-top: 3em;
	margin-right: 3em;
	margin-bottom: 3em;
	float: right;
	text-decoration: none;
	color: #ff0000;
}

.link-ref:hover{
	font-weight: bold;
	text-decoration: none;
	color: #ff0000;
}

.link-ref:visited{
	text-decoration: none;
	color: #ff0000;
}


.examples{
	position: relative;
	margin-top: 2em;
	background-color: #fff;
	border: 1px solid #d3d3d3;

}

.link-github{
	margin-top: 3em;
	margin-left: 3em;
	margin-bottom: 3em;
	float: left;
	text-decoration: none;
	color: #ff0000;
}

.link-github:hover{
	font-weight: bold;
	text-decoration:none;
	color: #ff0000;
}

.link-github:visited{
	text-decoration:none;
	color: #ff0000;	
}


.tech{
	height: auto;
	width: auto;
	border: 1px solid #d3d3d3;
	background-color: #ff0000;
	color:#fff;
	border-radius: 25px;
	padding: 4px;
	font-size: 0.8em
}

.para{
	padding:1em;
}

/* Angular 2 app and SAP UI5 app */

#angular-app img, #sapui5-app img{
	margin-top: 3em;
	width: 265px;
	height: 160px;
}

.bs-example-modal-lg2{
	margin-left: -20em;
}

.carousel{
    background: #F2F2F2;
	padding: 1em;
}

#myCarousel, #mySAPCarousel{
	width: 950px !important;
}
.carousel-inner .item img{
	margin: 0 auto; 
	margin-top: 0 !important;
    width: 750px !important;
	height: 400px !important;
}

.bs-example{
	margin: 20px;
}

/* Weather App */

#weatherApp img{
	margin-top: 3em;
	width: 265px;
	height: 160px;
}

/* Pro-Computer Section */


#pro-computer img{
	padding: 1em;
	width: 280px;
	height: 450px;
}

#pro-computer h4{
	line-height: 1.5em;
}


/* Thing Section */

#thing img{
	padding-top:6em;
	padding-left: -2em;
	width: 480px;
	height: 340px;
}

/* To-Do list */

#todolist img{
	padding: 1em;
	width: 320px;
	height: 280px;

}

/* animated flower */

#flower img{
	width: 980px;
	height: 410px;
	padding-top: 3em;
	padding-left: 2em;
}

/* accordion */

#accordion img{
	width: 320px;
	height: 240px;
	padding: 2em;
}

/* car race */

#car-race img{
	margin-top: 3em;
	width: 320px;
	height: 280px;
	padding: 2em;
}
/*Footer*/

footer {

	position: relative;
	background-color: #333;
	margin-top: 2em;
	padding: 20px;
	color:#fff;
	text-align: center;
	margin-bottom: -80px;
}

footer h6{
	text-decoration: underline; 
}

.unstyled{
	list-style-type: none;
}

.unstyled a{
	text-decoration: none;
	color: #d3d3d3;
}

.unstyled a:hover{
	text-decoration: none;
	color: #ff0000;
}

.unstyled a:visited{
	color: #d3d3d3;
	text-decoration: none;
}

#copyright h6{
	text-decoration: none;
	text-align: center;
}

#about{
	color: #d3d3d3;
}

#copyright h6{
	text-decoration: none;
}

/* Media Querry*/

@media only screen and (max-width: 790px) {
	#todolist{
		padding-left: 3em;
	}

	#flower{
		padding-left: 4em;
	}

	#thing {
		padding-left: 2em;
	}

	#flower img{
		margin-bottom: -5em;
	}

	#accordion{
		padding-left: 6em;
	}

	#car-race{
		padding-left: 5em;
	}

}